body {
    background-color: #DCE9BE;
    font-family: Arial, Helvetica, sans-serif;
    
}

header { 
    color:rgb(220,233,190);
    background-color:rgb(153,23,60);
    position:relative;
    top:0px;


}

h2 {
    color: #DCE9BE;
    text-align: center;

}

h1 {
    text-align: center;
    color:#FFF;
    font-size: 4em;


}

li a {
    display:block;
    float: right;
    display: block;
    color:#99173C;
    text-align: center;
    margin:15px;
    background-color:#DCE9BE;
    padding: 14px 16px;
    text-decoration: none;

}

li {
    float: left;
}

li a:hover {
    background-color:#DCE9BE;
}

ul {
    list-style-type: none;
    overflow: hidden;
}



.content {
	width:40%;
}

.right {
	float:right;
    padding: 2%;
}

.left {
padding:2%;
	float:left;
}

img {
	max-width: 400px;
}

footer {
    color: rgb(220,233,190);
    background-color:rgb(153,23,60);
    text-align:center;
    padding:15px;
    clear: both;
}