body {
    background-color: #DCE9BE;
    color: #2E2633;
}

.main-title {
    color: #2E2633;
}

.navigation{
    background-color:#99173C;
    text-align: center;
}

.navigation-link {
    display: inline-block;
    margin-right: 40px;
    border-bottom: 2px solid #2E2633;
}

.navigation-link:last-of-type {
    margin-right: 0;

}

.main-information {
    color: #2E2633;
}